
body {
    font-family: monospace;
    font-size: 16px;
    line-height: 2;
    background-color: #08c;
    color:white;
}

#about{
    margin: 10% 10% 10% 0;
}

.underline-spans{
    text-decoration: underline;
    cursor: pointer;
}
.centerDiv{
    text-align: center;
}
.margin-div{
    margin-top: 10%;
}
img{
    margin:0px 0px 0px 0px;
    max-width:100%;
}
a{
    color:black;
}